*{padding: 0; margin: 0; box-sizing: border-box;}

.app-header {
	background-color: burlywood;
	text-align: center;
	width: 100%;
	height: 70px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.app-header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  	background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

.app-footer {
	margin-top: auto;
	background-color: burlywood;
	text-align: center;
	width: 100%;
	height: 70px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.app-footer .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  	background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	text-align: center;
	box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover{
	cursor: pointer;
}

.primary-nav {
	background-color:burlywood;
	padding: 16px 32px;
}
  
nav a {
	margin-right: 16px;
}

nav a.active {
	text-decoration: none;
	font-weight: bold;
}

.login {
	overflow: hidden;
	background-color: white;
	padding: 40px 30px 30px 30px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
	-moz-transition: -moz-transform 300ms, box-shadow 300ms;
	transition: transform 300ms, box-shadow 300ms;
	box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }

  .login::before, .login::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 35%;
	border-bottom-right-radius: 40%;
	z-index: -1;
  }
  .login::before {
	left: 40%;
	bottom: -130%;
	background-color: rgba(69, 105, 144, 0.15);
	-webkit-animation: wawes 6s infinite linear;
	-moz-animation: wawes 6s infinite linear;
	animation: wawes 6s infinite linear;
  }

  .login::after {
	left: 35%;
	bottom: -125%;
	background-color: rgba(2, 128, 144, 0.2);
	-webkit-animation: wawes 7s infinite;
	-moz-animation: wawes 7s infinite;
	animation: wawes 7s infinite;
  }
  .login > input {
	font-family: "Asap", sans-serif;
	display: block;
	border-radius: 5px;
	font-size: 16px;
	background: white;
	width: 100%;
	border: 0;
	padding: 10px 10px;
	margin: 15px -10px;
  }

  .login > button {
	font-family: "Asap", sans-serif;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	width: 80px;
	border: 0;
	padding: 10px 0;
	margin-top: 10px;
	margin-left: -5px;
	border-radius: 5px;
	background-color: #f45b69;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	transition: background-color 300ms;
  }

  .login > button:hover {
	background-color: #f24353;
  }

  @-webkit-keyframes wawes {
	from {
	  -webkit-transform: rotate(0);
	}
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  @-moz-keyframes wawes {
	from {
	  -moz-transform: rotate(0);
	}
	to {
	  -moz-transform: rotate(360deg);
	}
  }
  @keyframes wawes {
	from {
	  -webkit-transform: rotate(0);
	  -moz-transform: rotate(0);
	  -ms-transform: rotate(0);
	  -o-transform: rotate(0);
	  transform: rotate(0);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }

  /* Makes the animation pause on hover */
.moving-text:hover{
	animation-play-state: running;
}

/* The animation */
@keyframes marquee{
	0%{transform: translateX(100%);}
	100%{transform: translateX(-100%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
	.moving-text{
		animation: marquee 20s linear infinite;
	}
}

.error {
	background-color: red;
	width: 280px;
	margin: 5px 0;
	margin: 0 auto;
	padding: 15px;
	color: #fff;
}

.add-to-cart {
	display: flex;
	margin: 0 0 10px 750px;
}

.add-to-cart-primary {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
	
}
.count-container {
	display: flex;
}
.count-button {
	padding: 5px 10px;
	margin: 0 5px;
  }